<p>Visszaszámláló:</p>
<input type="number" #countDownInput> seconds
<button (click)="startCountDown(countDownInput.value)">Set</button>

<hr/>

<p>Ébresztőóra:</p>
<input type="datetime" #alarmDate>
<button (click)="setAlarmClock(alarmDate.value)">Set</button>

<hr/>
<div *ngFor="let stopper of stoppers; let stopperIndex = index">
  <h2>{{stopperIndex + 1}}. Stopper</h2>

  <p style="font-size: 20pt">
    Time: {{stopper.seconds}} seconds
  </p>
  <button (click)="stopper.startTimer()">Start</button>
  <button (click)="stopper.stopTimer()">Stop</button>
  <button (click)="stopper.resetTimer()">Reset</button>
  <button (click)="stopper.roundTime()">Round Time</button>
  <br/>
  <p>Change speed:</p>
  <button (click)="stopper.speedUpTimer()">+</button>
  <button (click)="stopper.speedDownTimer()">-</button>
  
  <h2>Round Times</h2>
  <ul *ngIf="stopper.roundTimes.length > 0">
    <li *ngFor="let time of stopper.roundTimes; let i = index">
      {{i + 1}}. round: {{time}} seconds
    </li>
  </ul>
  <hr />
</div>

<button (click)="addStopper()">Add Stopper</button>

